# ignore all
*

# allow gitignore
!.gitignore

# allow .emacs.d directory
!.emacs.d/
!/.emacs.d/**/

# allow specific files
!/.emacs.d/init.el
!/.emacs.d/early-init.el

# allow lisp directory
!/.emacs.d/lisp/
!/.emacs.d/lisp/**

