# 忽略所有文件
*

# 允许 .gitignore 本身
!.gitignore
!.gitignore.bak

# 允许 .emacs.d 目录本身
!.emacs.d/
!/.emacs.d/**/

# 允许指定文件
!/.emacs.d/init.el
!/.emacs.d/early-init.el
!/.emacs.d/.gitignore.bak

# 允许 lisp 目录及其所有子文件
!/.emacs.d/lisp/
!/.emacs.d/lisp/**


